{% extends "baseAdmin.html" %}
{% block body %}

    {% if session.user_id is defined %}

        <h3>Welcome</h3>

        {% if serviceData is defined %}
            <div>
                <table border="1">
                    <tr>
                        <th>User</th>
                        <th>Title</th>
                        <th>Vehicle Number</th>
                        <th>License Number</th>
                        <th>Date</th>
                        <th>Timeslot</th>
                        <th>Issue</th>
                        <th>Center</th>
                        <th>Status</th>
                        <th colspan="2">Actions</th>
                    </tr>
                {% for service in serviceData %}
                    <tr>
                        <td>{{service.first_name}} {{service.last_name}}</td>
                        <td>{{service.title}}</td>
                        <td>{{service.vehicle_number}}</td>
                        <td>{{service.license_number}}</td>
                        <td>{{service.date}}</td>
                        <td>{{service.timeslots}}</td>
                        <td>{{service.issue}}</td>
                        <td>{{service.center}}</td>
                        <td>{% if service.status == 1 %}
                            Approved <a href="{{base_url}}admin/admin/updateStatus/{{service.service_id}}">Unapprove</a>
                            {% else %}
                            Not Approved <a href="{{base_url}}admin/admin/updateStatus/{{service.service_id}}">Approve</a>
                            {% endif %}
                        </td>
                        <td><a href="{{base_url}}admin/admin/updateService/{{service.service_id}}">update</a></td>
                        <td></td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        {% else %}
            <h3>No Registered Services...</h3>
        {% endif %}

    {% else %}

    {% endif %}
{% endblock %}
