<!DOCTYPE html>
<html>
    <head>
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
       
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <!-- {% set base_url = constant('App\\Config::BASE_URL')%} -->
        <div class="container">
            <nav>
                <a href ="{{ base_url }}/admin/admin/dashboard"  class="btn btn-primary" role = "button ">Dashboard</a>
                <a href ="{{ base_url }}/admin/products/index"  class="btn btn-primary" role = "button ">Manage Products</a>
                <a href="{{ base_url }}/admin/categories/index" class="btn btn-primary"  role ="button">Manage Categories</a>
                <a href="{{ base_url }}/admin/cms/pages/index" class="btn btn-primary"  role ="button">Manage CMS Pages</a>
                {% if session.admin is defined %}
                <a href="{{ base_url }}/admin/admin/logout" class="btn btn-primary"  role ="button">Logout</a>
                {% endif %}
            </nav>
            {% block body %}

            {% endblock %}
        </div>
        
    </body>
</html>